<div class="flex justify-content-center">
  <form [formGroup]="nameParameters">
    <div class="justify-self-center flex flex-col flex-nowrap mx-2.5 w-80">
      <input type="text" id="name-purpose" name="name-purpose" formControlName="purpose"
             placeholder="Purpose of name..." class="h-10 rounded-lg mb-3.5 text-center"/>
      <select id="gender-selector" name="gender-selector" formControlName="gender" class="h-10 rounded-lg mb-3.5 text-center">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Non-binary">Non-binary</option>
      </select>
      <select id="last-name-selector" name="last-name-selector" formControlName="lastName" class="h-10 rounded-lg mb-3.5 text-center">
        <option value="">-- Please choose a last name --</option>
        <option *ngFor="let lastName of lastNames" value="{{lastName.lastname}}">{{lastName.lastname}}</option>
      </select>
      <button class="bg-gradient-to-r from-theros-start to-theros-end rounded-2xl h-9 text-white"
              type="button"
              (click)="generateName()">Generate!</button>
    </div>
  </form>
</div>

