<div class="justify-self-stretch">
  <div class="flex flex-col flex-wrap content-between justify-around m-5">
    <div class="flex bg-[#f3f3f3] w-full rounded shadow-md mb-10 hover:shadow-lg">
      <img src="assets/matthias_portrait.png" alt="Matthias" class="max-w-[285px] max-h-[300px] min-h-[300px] rounded">
      <div class="w-4/12 px-4 py-0.5">
        <h4 class="my-3"><b><a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/profile/WiegerTheWizard/characters/64068991">Mathias Evnoiménes Éna Lilitheios</a></b></h4>
        <div>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/races/satyr">Satyr </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/classes/ranger#HorizonWalker">Horizon Walker Ranger </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/sources/moot/gods-of-theros#Nylea">of Nylea</a>
        </div>
        <div class="mx-3 my-3">
          <ul class="list-disc">
            <li>Nylea's Favored</li>
            <li>Excellent cook</li>
            <li>Wants a fancy bow</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex bg-[#f3f3f3] w-full rounded shadow-md mb-10 hover:shadow-lg">
      <img src="assets/axemos_portrait.png" alt="Axemos" class="max-w-[285px] max-h-[300px] min-h-[300px] rounded">
      <div class="w-4/12 px-4 py-0.5">
        <h4 class="my-3"><b><a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/characters/62786435">Axemos Heliomanos</a></b></h4>
        <div>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/races/leonin">Leonin </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/classes/paladin#OathofGlory">Oath of Glory Paladin </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/sources/moot/gods-of-theros#Heliod">of Heliod</a>
        </div>
        <div class="mx-3 my-3">
          <ul class="list-disc">
            <li>Oracle/Champion of Heliod</li>
            <li>Son of Haroz Firefang & Mantissa Sunmane the 3rd</li>
            <li>Mother killed father</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex bg-[#f3f3f3] w-full rounded shadow-md mb-10 hover:shadow-lg">
      <img src="assets/bonasus_portrait.png" alt="Bonasus" class="max-w-[285px] max-h-[300px] min-h-[300px] rounded">
      <div class="w-4/12 px-4 py-0.5">
        <h4 class="my-3"><b><a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/characters/75128483">Bonasus</a></b></h4>
        <div>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/races/satyr">Satyr </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/classes/bard#CollegeofEloquence">College of Eloquence Bard </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/sources/moot/gods-of-theros#Phenax">of Phenax</a>
        </div>
        <div class="mx-3 my-3">
          <ul role="list" class="list-disc">
            <li>Adopted by centaur bards</li>
            <li>Searches for mythical tales</li>
            <li>Wants to be a God</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex bg-[#f3f3f3] w-full rounded shadow-md mb-10 hover:shadow-lg">
      <img src="assets/nestor_temp_portrait.png" alt="Nestor" class="max-w-[285px] max-h-[300px] min-h-[300px] rounded">
      <div class="w-4/12 px-4 py-0.5">
        <h4 class="my-3"><b><p>Nestor of Aritria</p></b></h4>
        <div>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/races/human">Human </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/classes/rogue#Inquisitive">Inquisitive Rogue </a>
          <a class="no-underline hover:text-dnd-green" href="https://www.dndbeyond.com/sources/moot/gods-of-theros#Pharika">of Pharika</a>
        </div>
        <div class="mx-3 my-3">
          <ul class="list-disc">
            <li>Plagued by Pharika</li>
            <li>Has two sons he had to abandon</li>
            <li>Searches for a cure</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
